.cart{
    background-color: #FF99004D;
    padding: 25px;
    position: sticky;
    top: 0;
}

.btn-clear-cart{
    margin: 10px auto;
    font-size: 21px;
    background-color: #FF3030;
    color: white;
    border-radius: 4px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.cart p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #2A414F;
}

.cart h4{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #1C2B35;
}

.cart h6{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}